body {
  width: 1030px;
  margin: 0 auto;
  font-family: "Gotham Pro", sans-serif;
}

p,
h1 {
  margin: 0;
}

.header-mini {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  margin: 32px 0 28px;
}

.header__logo {
  height: 55px;
  width: 55px;
  margin-right: 45px;
}

.nav {
  width: 334px;
  display: flex;
  margin-right: 192px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-size: 12px;
  margin-right: 35px;
  font-weight: bold;
}

.form {
  margin: 6px 28px 0 0;
}

.form__input {
  width: 178px;
  border: 1px solid transparent;
  border-bottom: 1px solid #000;
}

.form__img {
  margin-left: -20px;
  margin-right: 23px;
}

.form__btn {
  border: 1px solid transparent;
  background: transparent;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: -3px;
}

.cart {
  font-size: 12px;
  font-weight: bold;
  margin-right: 35px;
}

.cart__round {
  background: #000;
  color: #fff;
  font-size: 10px;
  margin-left: 2px;
  padding: 2px 5px;
  border-radius: 50%;
  font-weight: 400;
}

.main__slides {
  background-image: url(../images/slide.png);
  height: 280px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  padding-left: 60px;
}

.main__slides__text {
  width: 195px;
  line-height: 29px;
  font-size: 30px;
  margin-bottom: 16px;
  padding-top: 14px;
}

.main__slides__btn {
  width: 145px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

.arrow {
  padding-left: 7px;
}

.arrow-mini {
  display: none;
}

.product {
  width: 100%;
  margin-bottom: 23px;
}

.product__title {
  text-align: center;
  font-size: 22px;
}

.product__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-item {
  width: 206px;
  padding: 0 12px 20px;
  height: 241px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.product-item::before {
  content: "";
  position: absolute;
  top: 41px;
  left: 248px;
  height: 101px;
  width: .8px;
  background: #000;
  opacity: 20%;
}

.product-item:last-child {
  margin: 0;
}

.product-item:last-child::before {
  content: "";
  position: absolute;
  top: 41px;
  left: 248px;
  height: 101px;
  width: .8px;
  background: #000;
  opacity: 20%;
  display: none;
}

.product-item__img {
  width: 188px;
  height: 173px;
  margin-bottom: 25px;
  padding-left: 10px;
}

.product-item__description {
  font-size: 12px;
  margin-bottom: 6px;
  width: 100%;
}

.product-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-info__price {
  font-size: 14px;
  font-weight: bold;
}

.product-info__round {
  width: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.round {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.round_big {
  width: 9px;
  height: 9px;
  bottom: 12px;
}

.round_grey {
  background: #c4c4c4;
}

.round_blue {
  background: #41479b;
}

.round_red {
  background: #b62e3c;
}

.round_black {
  background: #0e1211;
}

.round_brown {
  background: #762e31;
}

.round_orange {
  background: #e29d69;
}

.round_yellow {
  background: #fdb431;
}

.round_lightblue {
  background: #257da9;
}

.video {
  height: 359px;
  background: #000;
  padding: 69px 45px 66px 33px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  position: relative;
}

.video__img {
  margin-right: 42px;
}

.video__round {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0 0 0px 5px rgba(245, 245, 245, 0.2);
  background: #fff;
  position: absolute;
  left: 331px;
  top: 224px;
}

.video__triangle {
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 352px;
  top: 243px;
}

.video__desctiption {
  display: flex;
  flex-direction: column;
  padding-top: 66px;
}

.video__title {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 12px;
}

.video__text {
  font-size: 14px;
  line-height: 17.6px;
  margin-bottom: 16px;
}

.video__btn {
  font-size: 12px;
  width: 145px;
}


@media (max-width: 1024px) {
  body {
    width: 930px;
  }

  .header {
    margin-bottom: 42px;
  }

  .header__logo {
    width: 61px;
    margin-right: 32px;
  }

  .nav {
    margin-right: 138px;
  }

  .form {
    margin-right: 20px;
  }

  .form__img {
    margin-left: -17px;
    margin-right: 19px;
  }

  .form__input {
    width: 157px;
  }

  .cart {
    margin-right: 26px;
  }

  .main__slides {
    background-image: url(../images/slide1024.png);
    height: 254px;
    padding-left: 54px;
    margin-bottom: 62px;
  }

  .main__slides__text {
    margin-bottom: 11px;
    padding-top: 5px;
  }

  .slides__arrow {
    padding-left: 10px;
  }

  .product {
    margin-bottom: 49px;
  }

  .product__title {
    letter-spacing: 0;
  }

  .product-item {
    width: 185px;
  }

  .product-item__img {
    width: 172px;
  }

  .product-info__round {
    width: 48px;
  }

  .video {
    padding: 60px 30px 23px 30px;
  }

  .video__img {
    height: 325px;
    margin-right: 37px;
  }

  .video__round {
    width: 42px;
    height: 42px;
    left: 300px;
    top: 202px;
  }

  .video__triangle {
    left: 317px;
    top: 219px;
  }

  .video__desctiption {
    padding-top: 56px;
  }

  .video__title {
    width: 259px;
    margin-bottom: 6px;
  }

  .video__text {
    font-size: 13px;
    line-height: 16px;
    width: 248px;
  }
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }

  .header {
    display: none;
  }

  .header-mini {
    width: 89%;
    margin: 0 auto;
    padding-top: 38px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  #menu {
    opacity: 0;
  }

  #menu:checked ~ .menu__btn > span::after {
    top: 0;
    opacity: 0;
    transition-duration: .8s;
  }

  #menu:checked ~ .nav {
    visibility: visible;
  }

  .menu__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 61px;
    height: 25px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::after {
    position: absolute;
    top: 46px;
    width: 100%;
    height: 9px;
    background-color: #000;
    transition-duration: .25s;
  }

  .menu__btn > span::after {
    content: '';
    top: 17px;
  }

  .nav {
    margin-top: -10px;
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    visibility: hidden;
    width: 410px;
    height: 30px;
    transition-duration: .5s;
  }

  .nav__link {
    color: #000;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
  }

  .nav__link:hover {
    color: #778899;
    transition-duration: .5s;
  }

  .main__slides {
    background-image: url(../images/slide-mini.png);
    height: 415px;
    padding-left: 44px;
    width: 94%;
  }

  .main__slides__text {
    font-size: 50px;
    line-height: 48px;
    margin-bottom: 47px;
    padding-top: 40px;
  }

  .main__slides__btn {
    width: 400px;
    font-size: 20px;
  }

  .arrow {
    display: none;
  }

  .arrow-mini {
    display: inline-block;
  }

  .product {
    margin-bottom: 55px;
  }

  .product__title {
    padding-right: 17px;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .product__items {
    max-width: 626px;
    height: 352px;
    margin: 0 auto;
  }

  .product-item {
    width: 283px;
    height: 100%;
    padding: 0;
  }

  .product-item::before {
    display: none;
  }

  .product-item__img {
    width: 230px;
    height: 220px;
    padding: 0;
  }

  .product-item__description {
    font-size: 20px;
    padding-left: 30px;
    margin-bottom: 15px;
  }

  .product-info__price {
    font-size: 25px;
  }

  .product-info__round {
    width: 95px;
  }

  .round {
    height: 20px;
    width: 20px;
  }

  .round_yellow {
    order: 3;
  }

  .round_grey {
    order: 2;
  }

  .round_black {
    order: 1;
  }

  .round_other {
    order: 0;
  }

  .product-item:nth-child(3),
  .product-item:nth-child(4) {
    display: none;
  }

  .video {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    height: 600px;
    position: relative;
  }

  .video::before {
    content: "";
    height: 59px;
    max-width: 768px;
    position: absolute;
    background: #000;
    transform: translateY(-50px) skewY(2.5deg);
    ;
    transform-origin: left;
  }

  .video__desctiption {
    width: 682px;
    text-align: center;
    padding: 0;
    margin-bottom: 16px;
  }

  .video__title {
    width: 100%;
    font-size: 30px;
    padding-top: 15px;
    margin-bottom: 19px;
  }

  .video__text {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
  }

  .video__btn {
    display: none;
  }

  .video__img {
    height: 390px;
    width: 91%;
    margin-right: 0;
  }

  .video__round {
    width: 51px;
    height: 51px;
    left: 358px;
    top: 362px;
  }

  .video__triangle {
    left: 380px;
    top: 383px;
  }
}

@media (max-width: 571px) {
  .nav {
    margin: 0;
    flex-direction: column;
    position: fixed;
    align-items: center;
    width: 110px;
    height: 150px;
    left: 469px;
    background: #fff;
  }

  .product-item:nth-child(2) {
    display: none;
  }

  .product__items {
    justify-content: center;
  }

  .video__desctiption {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .header-mini {
    width: 80%;
    padding-top: 22px;
    padding-left: 20px;
    margin-bottom: 23px;
  }

  .header-mini__logo {
    width: 104px;
    height: 26px;
  }

  .menu__btn>span,
  .menu__btn>span::after {
    top: 29px;
    width: 41px;
    height: 5px;
  }

  .menu__btn > span::after {
    content: '';
    top: 10px;
  }

  .nav {
    margin: 0;
    flex-direction: column;
    position: fixed;
    align-items: center;
    width: 110px;
    height: 100px;
    background: #fff;
    left: 269px;
  }

  .main__slides {
    background-image: url(../images/slide375.png);
    height: 191px;
    padding-left: 48px;
    margin-bottom: 36px;
    width: 87%;
  }

  .main__slides__text {
    font-size: 20px;
    line-height: 19px;
    padding-top: 30px;
    margin-bottom: 17px;
  }

  .main__slides__btn {
    font-size: 12px;
  }

  .arrow {
    display: inline;
  }

  .arrow-mini {
    display: none;
  }

  .product {
    margin-bottom: 30px;
  }

  .product__title {
    font-size: 20px;
    margin-bottom: 0;
  }

  .product-item:nth-child(2) {
    display: none;
  }

  .product__items {
    width: 100%;
    height: 288px;
    justify-content: center;
  }

  .product-item__img {
    width: 163px;
    height: 154px;
  }

  .product-item__description {
    font-size: 15px;
    margin-bottom: 3px;
  }

  .product-info__price {
    font-size: 20px;
    padding-left: 17px;
  }

  .product-info__round {
    width: 75px;
  }

  .round {
    width: 15px;
    height: 15px;
  }

  .video {
    width: 100%;
  }

  .video::before {
    width: 100%;
    height: 30px;
    transform: translateY(-25px) skewY(2.5deg);
  }

  .video__desctiption {
    width: 290px;
  }

  .video__title {
    font-size: 20px;
    line-height: 25px;
    width: 230px;
    padding-left: 27px;
    padding-top: 0;
    margin-bottom: 19px;
  }

  .video__text {
    width: 97%;
    font-size: 14px;
    line-height: 17px;
  }

  .video__img {
    width: 282px;
    height: 156px;
  }

  .video__round {
    top: 266px;
    left: 175px;
    width: 21px;
    height: 21px;
  }

  .video__triangle {
    left: 185px;
    top: 275px;
    border: 2px solid transparent;
    border-left: 5px solid rgba(0, 0, 0, 0.5);
  }

}

@media (max-width: 320px) {
  .header-mini {
    width: 95%;
    padding-left: 18px;
  }

  .nav {
    left: 243px;
  }

  .main__slides {
    background-image: url(../images/slide320.png);
    padding-left: 19px;
  }

  .video__round {
    left: 149px;
  }

  .video__triangle {
    left: 158px;
  }
}
